<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <img
            src="./assets/images/users/1.jpg"
            class="img-fluid rounded-circle mb-3 w-50"
            alt="Imagen de perfil"
          />
          <h4 class="card-title">{{ userLogged.name }}</h4>
          <p class="card-text">Email: {{ userLogged.email }}</p>
          <p class="card-text">Descripción: {{ userLogged.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
